*{
    box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/*Định dạng chung cho toàn bộ nội dung của trang*/
   /*Thẻ body căn nội dung của trang ra giữa*/
   body{
	margin:0 auto !important ;
}
img{
	width:100%;
}
body#nav-home .nav-home{
	background-color:#55A5D3;
	display:block;
}
/*Định dạng phần header*/
nav{
	display:block;
}
.navbar{
	position:relative;
	padding-top:15px;
	margin-bottom:0px !important;
}
.navbar-header button{
	float:left; margin:0;
	}
.navbar-header>a{
	margin-left:15%;
	font-size:1.5em;
	}
.navbar-header button>span{
	background-color:black;
	}
.navbar>span{
	position:absolute;top:22px;right:25px;
}
header{
	margin-bottom:20px;
}
/*Định dạng phần thứ nhất*/
.legth-icon{
	background-color:#00CCFF;
	width:20px;
	height:5px;
	float:left;
	margin-top:7px;
}
.row{
	margin-bottom:20px;
}
/*Định dạng phần thứ 2 của trang*/
#img{
	background-image:url('https://i.imgur.com/YE6srBq.jpg');
	background-position:center center;
	background-size:cover;
	padding-right:0px !important;
	margin-right:15px!important;
}
#margin-left{
	padding-top:30px;
	padding-bottom:30px;
	color:white;
}
#margin-left a{
	color:white;
}
#margin-left p{
	text-align:center;
	margin-left:50px;
}
.img-two>img{
	width:50px;
	height:50px;
	border-radius:50%;
	float:left;
}
/*Định dạng phần thứ 3 của trang*/
/*Định dạng phần thứ 4*/
#format-input>input, #format-input>textarea {
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:5px;
}
#submit>input{
	background-color:yellow;
	border-radius:5px;
}
#submit{
	text-align:center;
	margin-bottom:20px;
}
/*đinh dạng phần footer*/
footer{
    background-color: #080808;
    margin-top: 15px;
    color: white;
    font-size: 10px;
}
 #footer .row{
	padding-left:15px;
	padding-right:15px;
}
footer ul{
	list-style-type:none;
}
.left ul{
	padding-left:0;
}
.left li a{
    color: white;}
    #hr{
        width: 90% ; margin-left:0;margin-top:2px;
    }
	#submit-right input[type="email"]{
	width:65%;border: 0;background-color: #080808;
	}
	#submit-right input[type="submit"]{
		width:25%;color: black;
	}
	/*Định dạng cho thiết bị di động*/
	/*Định dạng cho máy tính bảng*/
	@media (min-width: 768px){
		header{
			background-color:#0E5BF5;
		}
		nav{
			padding-top:10px !important;
			padding-bottom:10px;
		}
		.navbar{background-color: #0E5BF5;
			color:white;
			padding-top:0;
		}
	.navbar-header a{color:white;}
	.navbar-nav a{color:white;}
	.navbar-nav{
		margin-right:30px !important;
		float:right !important;
	}.navbar>span{
	position:absolute;top:25px;right:35px;
	}
	.navbar-header{
		width:150px;
		margin-top:10px;
	}
	.row{
		margin-left:0 !important;
		margin-right:0 !important;
		padding-right:0 !important;
	}
	#aside{
		margin-left:12px;
	}
	#img1{
		padding-left:0px;
		padding-right:0px;
	}
	/*Định dạng cho destop*/
	@media (min-Width:992px){
		#footer .row{
		padding-left:0px;}
		#max-height{
			max-height:270px;
			overflow:hidden;
			position:relative;
		}
		#img1{
			width:50%;
		}
		#img{
			width:50%;
			height:270px;
			position:absolute;left:50%;
			padding-left:0;
		}
		#margin-left{
			margin-left:-20px;
		}
		#format-input>input{
			margin-top:30px;
			margin-bottom:30px;
			width:29%;
			margin-right:3%;
		}
		#format-input>textarea{
			width:100%;
			height:150px;
			margin-bottom:3px;
		}
		#submit input{
			height:40px;
			width:100px;
			margin-left:90%;
		}
		#footer{
			padding-top:10px;
		}
		
	}
	/*@media (min-width:1200px){
		#footer{
			position:relative;
		}
		footer .row{
			possition:absolute; top:15px; left:9,3%;
			max-width:1170px;
		}
	}*/